<!-- inventario_partial.html -->
{% for nombre, item in inventario.items() %}
    <li>
        {{ nombre }} - Precio: ${{ item['precio'] }} - Cantidad: {{ item['cantidad'] }}
        <!-- Llama a la función vender() con el botón actual como argumento -->
        <button data-nombre="{{ nombre }}" data-cantidad="{{ item['cantidad'] }}" onclick="vender(this)">Vender</button>
    </li>
{% endfor %}


<script>

    function vender(button) {
    // Extract data from the button's data attributes
    var producto = button.getAttribute('data-nombre');
    var inventario = parseInt(button.getAttribute('data-cantidad'));

    // Hacer una solicitud AJAX al servidor para obtener el precio actual del producto
    var xhrPrecio = new XMLHttpRequest();
    xhrPrecio.open("GET", "/obtener_precio?producto=" + encodeURIComponent(producto), true);
    xhrPrecio.setRequestHeader("Content-Type", "application/json");

    xhrPrecio.onreadystatechange = function () {
        if (xhrPrecio.readyState === 4 && xhrPrecio.status === 200) {
            var precio = parseFloat(xhrPrecio.responseText);
            console.log('Nombre:', producto);
            console.log('Precio:', precio);
            console.log('Cantidad:', inventario);

            var cantidad = prompt('Ingrese la cantidad a comprar de ' + producto + ':', '1');
            if (cantidad === null || isNaN(cantidad) || cantidad > inventario) {
                console.log(inventario);
                alert('Operación de compra cancelada o cantidad no válida.');
            } else {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/vender", true);
                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.onreadystatechange = function () {
                    console.log('Ready state:', xhr.readyState, 'Status:', xhr.status);

                    if (xhr.readyState === 4 && xhr.status === 200) {
                        console.log('Response received:', xhr.responseText);
                        var responseData = JSON.parse(xhr.responseText);
                        // Update the relevant parts of the page
                        updateMonedas(responseData.monedas);
                        updateInventario(responseData.inventario);
                    }
                };

                var data = JSON.stringify({
                    producto: producto,
                    cantidad: cantidad,
                    precio: precio
                });

                xhr.send(data);
            }
        }
    };

    xhrPrecio.send();
}

</script>
