<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciudades</title>
    <script>
        function ciudadSeleccionada(index) {
            // Redirigir al usuario a la URL con el índice de la ciudad
            window.location.href = '/productos/' + index;
        }
    </script>
</head>
<body>

    <h1>Seleccione una ciudad:</h1>

    {% if mensaje_error %}
        <p style="color: red;">{{ mensaje_error }}</p>
    {% endif %}

    <ul>
        {% for index in range(ciudades|length) %}
            {% set ciudad = ciudades[index] %}
            <li><a href="#" onclick="ciudadSeleccionada('{{ index }}')">{{ ciudad.name }}</a></li>
        {% endfor %}
    </ul>

</body>
</html>
