<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="/static/report.css">
    <link rel="shortcut icon" href="/static/administracion-del-dinero.png">
</head>
<body>

    <body>

    <div class="container">
    <h1 class="title">Resumen:</h1>

    <div class="mejor-accion">
        <h2>Mejor venta realizada</h2>
        <p>La venta que más beneficio ha aportado ha sido, {{ bestAction.cantidad }} unidades de {{ bestAction.nombre }}, por un beneficio {{ bestAction.precio }}$/ud, que ha reportado un beneficio total de {{ bestAction.monedas }}$.</p>
    </div>

    <div class="resumen">
        <h2>Informe de ventas</h2>
        <div class="acciones">
            <ul>
                    {% for item in informe %}
                        <li>
                            Ha vendido {{ item.cantidad }} unidades de {{ item.nombre }}, por un beneficio {{ item.precio }}$/ud, que ha reportado un beneficio total de {{ item.monedas }}$.
                        </li>
                    {% endfor %}
                </ul>
        </div>
        <button class="btn" onclick="terminar()">Terminar partida</button>
    </div>
    </div>

    
    </div>
    <script>
        function terminar() {
            // Obtener la URL actual
            var urlActual = window.location.href;
            // Redirigir a la URL actual + /ciudades
            window.location.href = urlActual.substr(0,21) + '/';
        }
    </script>
</body>

</body>
</html>
